body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #3498db; /* Change the background color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover; /* Ensure the background image covers the entire screen */
    font-size: 16px; /* Adjust the base font size */
}
.card {
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background color for the card */
    color: white;
    padding: 2em;
    border-radius: 15px; /* Adjust border-radius */
    font-weight: 400; /* Adjust font weight */
    max-width: 420px;
    margin: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Add some top margin */
}
button {
    margin: 0.5em;
    border-radius: 5px; /* Smaller border-radius */
    border: none;
    height: 40px; /* Adjust button height */
    outline: none;
    background: #34495e; /* Change button background color */
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
h1 {
    margin: 10px 0; /* Adjust top and bottom margin */
    padding: 10px;
    font-size: 24px; /* Increase heading font size */
}
#city, #date {
    margin: 5px;
    padding: 5px;
    font-size: 18px; /* Adjust font size */
}
input#search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 5px; /* Smaller border-radius */
    background: #34495e; /* Change input background color */
    color: white;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    width: calc(100% - 20px); /* Adjust width */
}
button:hover {
    background: #2c3e50; /* Darker color on hover */
}
h1.celsius {
    margin: 0;
    font-size: 20px; /* Adjust font size */
}
span#humidity, span#winds {
    padding: 5px; /* Smaller padding */
    font-size: 14px; /* Adjust font size */
}
img {
    width: 100%; /* Make the image responsive */
    border-radius: 10px; /* Add border-radius */
}
#footer {
    margin-top: 20px; /* Add top margin */
    padding: 10px;
    text-align: center;
    font-size: 14px; /* Adjust font size */
}
#description {
    text-align: center;
    font-weight: 600;
    margin-top: 10px; /* Add top margin */
}
#error {
    text-align: center;
    color: crimson;
    margin: 20px;
    display: none;
}
